@model IEnumerable<Product>
@section Header  {
    <!--доп меню-->
<ul class="menudop">
    @foreach (var s in ViewBag.Sub)
    {
        <li><a href=@s.SubDescription >
            @s.NameSub
            </a>
        </li>
    }
</ul>

}

@section Body  {

    <div id="content">

        @Html.Partial("SearchBox") <!--Поиск по товарам-->

        <div class="ct-center">
            <div id="system-message-container"></div>
            <div class="browse-view">

                @foreach (SubCategory sub in ViewBag.Sub)
                {
                    <!--<div><a name=@sub.Id.ToString()></a></div>  -->
                    <div id=@sub.Id.ToString()></div>
                    <h1>@sub.NameSub</h1>
                    <hr>

                    @foreach (Product prod in Model.Where(r => r.SubCatId == sub.Id))
                    {

                        <div class="product ptcat">
                            <div class="pt-image">
                                <a title="Пицца Ассорти" rel='vm-additional-images' data-fancybox='images' href="~/images/stories/virtuemart/product/@prod.BigImage">
                                    <img src="~/images/stories/virtuemart/product/resized/@prod.Image" alt="Пицца Ассорти" class="browseProductImage" />
                                </a>
                            </div>
                            <div class="notvisible">
                                <img src="~/images/stories/virtuemart/product/resized/@prod.Image" alt="Пицца Ассорти" />
                            </div>
                            <div class="ptdesc-left">@prod.Description</div>
                            <div class="pt-description">
                                <h3>@prod.Name</h3>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    }
                }
                <div class="clear"></div>
                <div class="vm-pagination">
                    <span style="float:right"></span>
                </div>
            </div>
            <div class="category_description"></div>
        </div>    <!-- class = "ct-center" -->

    </div>  <!-- id="content" -->

}

@section Footer {
}

